
.ProseMirror {
	max-width: 100%;

	&:focus {
		outline: 2px solid transparent;
		outline-offset: 2px;
	}

	.tippy-box {
		max-width: 400px !important;
	}

	.mathematics-editor {
		background-color: var(--text-stone-100);
		color: var(--text-white);
		padding: 0.2rem 0.5rem;
		border-radius: .25rem;
		display: inline-block;
	}

}

@import "styles-table";
